* {
  pedding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(206, 94%, 87%);
}
.bg-grid {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  height: 75vh;
  width: 60vw;
  padding: 10px;
  background-color: hsl(231, 100%, 99%);
  border-radius: 10px;
}
.left-menu {
  grid-column: 1;
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.steps {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  padding: 20px;
}
.step-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.number-step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: hsl(231, 100%, 99%);
  border: 2px solid hsl(231, 100%, 99%);
  font-size: 1.2rem;
  cursor: pointer;
}

.step-infor {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: hsl(231, 100%, 99%);
}
/* form */
.right-menu {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  padding: 20px;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}
.right-menu-step1 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  height: 100%;
  width: 100%;
}
label {
  opacity: 0.7;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  height: 100%;
  width: 100%;
}

.form input {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}
.btn {
  display: flex;
  height: 40px;
  width: 100px;
  font-size: 15px;
  border-radius: 9px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 96%, 18%);
  color: hsl(229, 24%, 87%);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 75%;
}
.btn:hover {
  background-color: hsl(213, 96%, 15%);
  border: 1px solid #ccc;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.right-menu-step2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  height: 100%;
  width: 100%;
}
.styledMonth,
.styledYear {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  opacity: 0.7;
}
.lit {
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
small {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 500;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.card1,
.card2,
.card3 {
  color: hsl(213, 96%, 18%);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card1:hover,
.card2:hover,
.card3:hover {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.cardSelected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.cards h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 30px;
}
.cards p {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 10px;
  opacity: 0.7;
}

.monthsfree {
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.radio {
  display: flex;
  width: 100%;
  margin-top: 20px;
  background-color: hsl(217, 100%, 97%);
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.btn-back {
  display: flex;
  background: none;
  border: none;
  font-size: 0.9rem;
  color: hsl(231, 11%, 63%);
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 77%;
  transition: all 0.3s ease-in-out;
}
.btn-back {
  color: hsl(213, 96%, 18%);
}
.right-menu-step3 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  height: 100%;
  width: 100%;
}
.checkboxs {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}
.inputRadio {
  width: 30px;
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  height: 4.5rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.item:hover {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.itemSelected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.aboutItems {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.item p {
  font-weight: 700;
  font-size: 0.9rem;
  color: hsl(213, 96%, 18%);
}
.itemDescription {
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 1px;
}
.pricePage3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 80%;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
}
.finishingInfor {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 60%;
}
.titleinfor {
  display: flex;
  gap: 5px;
  align-items: center;
}
.titlePlan {
  font-size: 1rem;
  font-weight: 500;
}
.inforServices {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  opacity: 0.7;
  gap: 15px;
}
.inforChoice1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
a {
  opacity: 0.7;
  font-size: 0.9rem;
  color: hsl(213, 96%, 18%);
}
.infor {
  display: flex;
  flex-direction: column;
}
.priceService {
  color: #040404;
  font-size: 0.9rem;
  font-weight: 500;
  left: 72%;
}
.totalLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.finishingTotal {
  margin: 10px 10px;
  opacity: 0.7;
}
.totalPrice {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
}
#confirm {
  background-color: hsl(243, 100%, 62%);
}
.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  width: 100%;
}
.thankyou img {
  width: 60px;
  height: 60px;
}
.thankyouDescription {
  opacity: 0.7;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.active {
  display: none;
}
.alert {
  color: hsl(354, 84%, 57%);
  font-size: 0.8rem;
  margin-top: -15px;
}
.hide {
  background-color: hsl(231, 100%, 99%);
  color: hsl(213, 96%, 18%);
}
